

* {
    background-color:  rgb(51, 63, 78);
    color: rgb(132, 157, 195);
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

main { 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#levelContainer{ 
    display: flex;
    justify-content: space-around;
}

#levelContainer div {   
    display: flex;
    align-content: center;
    width: 15vh;
    height: 15vh;
    border: 5px solid white;
    border-radius: 30%;
    margin: 10px;
}

input {
    background: rgba(69, 69, 69, 0.6);
    color: white;
    text-align: center;
    height: 25px;
    width: 100%;
    /* opacity: 50%; */
    border: none;
    font-weight: bold;
    font-size: 20px;
    /* margin-top: 70px; */
}
input:focus {
    outline: none;
}
