/* GLOBAL */
* {
    
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
body {
    width: 100vw;
    justify-content: space-between;

}
/* GRID */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }


    /* END GRID */
    /* GRID STYLES */
    #navGrid {
        background-color:  rgb(51, 63, 78);
        color: rgb(132, 157, 195); 
        min-width: 300px;
        max-width: 350px;
    }

    #stageGrid {
    background-color: rgb(132, 157, 195) ;
    color: rgb(51, 63, 78); 
    height: 100vh;
    width: 100%;
    ;
}
    
#poolGrid {
    background-color:  rgb(51, 63, 78);
    color: rgb(132, 157, 195); 
    height: 100vh;
    min-width: 150px;
    max-width: 200px;
    padding-top: 50px;
    right: 0px;
    
}
    
    
#levelContainer{ 
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
}
    
    #colorBox{   
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 140px;
    height: 140px;
    border: 5px solid white;
    border-radius: 30%;
    margin: 10px;
}
    
input {
    background: rgba(69, 69, 69, 0.6);
    color: white;
    text-align: center;
    height: 25px;
    width: 100%;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

input:focus {
    outline: none;
}

#playerScoreContainer {
    font-size: 35px;
}

@media screen and (max-width: 600px) {
    #levelContainer{
        display: flex;
        flex-direction: column;
                
    }
}
                